:root {
    --bg-body: hsl(0, 0%, 8%);
    --bg-social-links:hsl(0, 0%, 12%); /* rgb(31, 31, 31); */

    --clr-primary: hsl(0, 0%, 100%);
    --clr-secondary: hsl(75, 94%, 57%);
    --clr-btn-links: hsl(0, 0%, 20%);

}

@font-face {
    font-family: 'Inter-VariableFont';
    src: url('../fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype'),
    url('..fonts/Inter-VariableFont_slnt.woff2') format('woff2');
    font-display: swap;
}

body {
    background-color: var(--bg-body);
    font-size: 14px;
    font-family:'Inter-VariableFont', Arial, Helvetica, sans-serif;
    color: var(--clr-primary);
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.social-links-profile__section {
    display: grid;
    gap: 1.2rem;
    min-width: 20.43rem; /* 23.43rem */
    max-width: 90%;
    margin-inline: center;
    border-color: 1px solid white;
    background-color: var(--bg-social-links);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    padding: 2rem;
}

.social-links-profile__header {
    display: grid;
    gap: .5rem;
    align-items: center;
    justify-items: center;
}

.social-links-profile__img {
    width: 5rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.social-links-profile__h1 {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--clr-primary);
}

.social-links-profile__h2 {
    font-size: .75rem;
    color: var(--clr-secondary);
}

.social-links-profile__h3 {
    font-size: .8rem;
    font-weight: 400;
    color: var(--clr-primary);
    opacity: 0.65;
    margin-top: .6rem;
}

.social-links-profile__rrss {
    display: grid;
    gap: 1rem;
    justify-items: center;
}

.social-links-profile__btn {
    display: grid;
    place-content: center;
    width: 100%;
    background-color: var(--clr-btn-links);
    padding: .5rem 0;
    font-size: .8rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.social-links-profile__p {
    opacity: 0.9;
    font-size: .8rem;
    font-weight: 600;
}

.social-links-profile__btn:hover,
.social-links-profile__btn:focus {
    cursor: pointer;
    background-color: var(--clr-secondary);
    color: var(--clr-btn-links);
}

/* 
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */